.footer-outer-container {
    background-color: #111;
    color: gray;
    display: flex;
    justify-content: center;
}
    /* padding: 20px;
    text-align: center;
    font-size: 14px;
} */
 .footer-inner-container{
    width: 60%;
    /* padding: 20px 0; */
 }
 .footer-data ul{
    background: color blue;
    display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap:  15px 40px;
   list-style: none;
   padding: 0;
    justify-content: space-between;
    margin: 0 0 30px 0;
    color: white;

 }
 .footer-icons{
    width: 12%;
    display: flex;
    justify-content: space-between; 
 }
 .footer-data{
    display: flex
    

 }

 .footer_data ul li{
    cursor: pointer;
 }